
@{
    ViewBag.Title = "About";
}

<h2>Acerca de la empresa</h2>

<p>Autos nuevos y usados ​​- Compra y vende vehículos en línea en Guatemala
En México hay 133 mil kilómetros de autopistas y carreteras, además de calles y avenidas en ciudades y pueblos. Ya sea para ir a trabajar, transportar mercancía o simplemente viajar, todos necesitamos un vehículo (motocicleta, coche o transporte comercial). Con Carmudi puedes encontrarlo desde la comodidad de tu casa, en tu computadora, sin visitar agencias o lotes de autos, o consultar clasificados en el periódico.

De dónde vienes y a dónde vas
Carmudi es el mejor lugar para empezar la búsqueda del coche o motocicleta que se ajuste a tus necesidades, presupuesto y gustos, dándole movilidad tus proyectos. Independientemente de que busques un coche deportivo para correr a altas velocidades, un carro familiar para viajar por el país, una motocicleta para implementar servicio a domicilio para tu empresa o un vehículo comercial para transportar tu producción, Carmudi es tu aliado en línea para encontrar el vehículo que necesitas.

Sin importar si buscas vehículos nuevos, seminuevos, comprar o vender, Carmudi te ayudará y te guiará desde el inicio y hasta encontrar esa motocicleta que tanto soñaste, ese coche que tanto deseaste o ese vehículo comercial que tu negocio tanto necesita.
 </p>


