
@{
    ViewBag.Title = "Index";
}

<h2>Menu Administrador</h2>
@if (Session["nombreUsuario"] != null)
{
    <h2>Bienvenido @Session["nombreUsuario"]</h2>
}
else
{
    <h2>Debe de iniciar sesion</h2>
}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
                    <img class="img-circle" src="~/fonts/image1.jpe" alt="thumb01" whith="140" height="140" />
                    <h3>Autos</h3>
                    <p>El administrador puede ver a todos los autos</p>
                    <p>@Html.ActionLink("Autos", "Index", "Automovil", new { area = "" }, new { @class = "btn btn-primary" })</p>
        </div>

     <div class="col-lg-4">
            <img class="img-circle" src="~/fonts/image2.jpe" alt="thumb01" whith="140" height="140" />
            <h3>Usuarios</h3>
            <p>El administrador puede ver a todos los usuarios</p>
            <p>@Html.ActionLink("Usuarios", "Index", "usuario", new { area = "" }, new { @class = "btn btn-primary" })</p>
        </div>   
        <div class="col-lg-4">
            <img class="img-circle" src="~/fonts/image5.jpe" alt="thumb01" whith="140" height="140" />
            <h3>Marcas</h3>
            <p>El administrador puede ingresar marcas</p>
            <p>@Html.ActionLink("Marcas", "Index", "Marca", new { area = "" }, new { @class = "btn btn-primary" })</p>
        </div>   
    </div>
</div>


